In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
import pandas as pd
from warnings import simplefilter
simplefilter(action="ignore", category=pd.errors.PerformanceWarning)

In [3]:
import os
# lines = []
# with open('taxa_names.csv','r') as fp:
#     for line in fp:
#         line = line.replace('"','')
#         lines.append(line)
# with open('taxa_names.csv','w') as fp:
#     for line in lines:
#         fp.write(line)
        
# lines = [] 
# with open('asv_names.csv','r') as fp:
#     for line in fp:
#         line = line.replace(';',',')
#         lines.append(line)
# with open('asv_names.csv','w') as fp:
#     for line in lines:
#         fp.write(line)
        
# lines = [] 
# with open('asv_table.csv','r') as fp:
#     for line in fp:
#         line = line.replace(';',',')
#         lines.append(line)
# with open('asv_table.csv','w') as fp:
#     for line in lines:
#         fp.write(line)
        
lines = [] 
with open('meta.csv','r') as fp:
    for line in fp:
        line = line.replace(';',',')
        lines.append(line)
with open('meta_mod.csv','w') as fp:
    for line in lines:
        fp.write(line)

In [ ]:
# lines = [] 
# with open('OTU_table_ydj.csv','r') as fp:
#     for line in fp:
#         line = line.replace(',','.')
#         line = line.replace(';',',')
#         lines.append(line)
# with open('OTU_table_ydj.csv','w') as fp:
#     for line in lines:
#         fp.write(line)

In [4]:
df_asv_table = pd.read_csv('asv_table.csv')
df_asv_table

,Unnamed: 0,ASV1,ASV2,ASV3,ASV4,ASV5,ASV6,ASV7,ASV8,ASV9,...,ASV8114,ASV8115,ASV8116,ASV8117,ASV8118,ASV8119,ASV8120,ASV8121,ASV8122,ASV8123
0,1s1,0,53,0,34,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1s11,0,2544,0,8416,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1s12,0,2326,0,11906,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1s13,0,3938,0,5967,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1s2,0,1013,0,25,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,T144-1,74,0,29,0,69,0,0,0,25,...,0,0,0,0,0,0,0,0,0,0
199,T144-2,44,0,82,0,0,0,0,457,176,...,0,0,0,0,0,0,0,0,0,0
200,T144-3,220,0,476,0,21,8,0,0,173,...,0,0,0,0,0,0,0,0,0,0
201,T144-4,76,0,68,0,16,0,0,0,26,...,0,0,0,0,0,0,0,0,0,0
202,T6-4,70,0,52,0,13,5,6,0,26,...,0,0,0,0,0,0,0,0,0,0

In [5]:
df_asv_names = pd.read_csv('asv_names.csv')
df_asv_names

,Unnamed: 0,Kingdom,Phylum,Class,Order,Family,Genus,Species
0,ASV1,Bacteria,Bacteroidota,Bacteroidia,Bacteroidales,Bacteroidaceae,Bacteroides,NaN
1,ASV2,Bacteria,Proteobacteria,Gammaproteobacteria,Enterobacterales,Enterobacteriaceae,Escherichia-Shigella,NaN
2,ASV3,Bacteria,Synergistota,Synergistia,Synergistales,Synergistaceae,Pyramidobacter,NaN
3,ASV4,Bacteria,Bacteroidota,Bacteroidia,Bacteroidales,Bacteroidaceae,Bacteroides,intestinalis
4,ASV5,Bacteria,Bacteroidota,Bacteroidia,Bacteroidales,Muribaculaceae,NaN,NaN
...,...,...,...,...,...,...,...,...
8118,ASV8119,Bacteria,Firmicutes,Bacilli,RF39,NaN,NaN,NaN
8119,ASV8120,Bacteria,Firmicutes,Clostridia,Lachnospirales,Lachnospiraceae,NaN,NaN
8120,ASV8121,Bacteria,NaN,NaN,NaN,NaN,NaN,NaN
8121,ASV8122,Bacteria,Firmicutes,Bacilli,Lactobacillales,Enterococcaceae,NaN,NaN
8122,ASV8123,Bacteria,Firmicutes,Bacilli,Lactobacillales,Enterococcaceae,NaN,NaN

In [8]:
df_otu_table = pd.read_csv('OTU_table_ydj.csv')
df_otu_table

,Seq_ID,OTU1,OTU2,OTU3,OTU4,OTU5,OTU6,OTU7,OTU8,OTU9,...,OTU7663,OTU7664,OTU7665,OTU7666,OTU7667,OTU7668,OTU7669,OTU7670,OTU7671,OTU7672
0,1s11,0.000000,0.000000,11.537254,42.402679,0,0.000000,0.000000,0.0,0.000000,...,0,0,0,0,0,0,0,0,0,0
1,1s12,0.000000,0.000000,7.846847,43.781923,0,0.000000,0.000000,0.0,0.000000,...,0,0,0,0,0,0,0,0,0,0
2,1s2,0.000000,0.000000,4.418684,0.116409,0,0.000000,0.000000,0.0,0.000000,...,0,0,0,0,0,0,0,0,0,0
3,1s3,0.000000,0.000000,4.819513,0.320429,0,0.000000,0.000000,0.0,0.000000,...,0,0,0,0,0,0,0,0,0,0
4,1s4,0.000000,0.000000,2.024096,2.800000,0,0.000000,0.000000,0.0,0.000000,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,D9-1,3.136353,0.061578,0.000000,0.000000,0,4.739424,23.849012,0.0,10.156202,...,0,0,0,0,0,0,0,0,0,0
76,D9-2,0.980681,0.039326,0.000000,0.000000,0,0.024578,2.944502,0.0,5.601435,...,0,0,0,0,0,0,0,0,0,0
77,D9-3,4.478414,0.000000,0.000000,0.000000,0,4.906261,31.639147,0.0,9.462074,...,0,0,0,0,0,0,0,0,0,0
78,D9-4,3.635168,0.095245,0.000000,0.000000,0,0.081638,28.868177,0.0,10.497313,...,0,0,0,0,0,0,0,0,0,0
79,T0-3-2,1.158816,0.017092,0.000000,0.000000,0,0.311069,24.355644,0.0,3.503794,...,0,0,0,0,0,0,0,0,0,0

In [9]:
df_otu_names = pd.read_csv('taxa_names.csv')
df_otu_names

,Unnamed: 0,Kingdom,Phylum,Class,Order,Family,Genus,Species
0,OTU1,Bacteria,Bacteroidetes,Bacteroidia,Bacteroidales,Bacteroidaceae,Bacteroides,NaN
1,OTU2,Bacteria,Synergistetes,Synergistia,Synergistales,Synergistaceae,Pyramidobacter,NaN
2,OTU3,Bacteria,Proteobacteria,Gammaproteobacteria,Enterobacteriales,Enterobacteriaceae,Escherichia/Shigella,NaN
3,OTU4,Bacteria,Bacteroidetes,Bacteroidia,Bacteroidales,Bacteroidaceae,Bacteroides,intestinalis
4,OTU5,Bacteria,Firmicutes,Bacilli,Bacillales,Listeriaceae,Listeria,NaN
...,...,...,...,...,...,...,...,...
7669,OTU7670,Bacteria,Firmicutes,Clostridia,Clostridiales,Ruminococcaceae,NaN,NaN
7670,OTU7671,Bacteria,Firmicutes,Clostridia,Clostridiales,Lachnospiraceae,NaN,NaN
7671,OTU7672,Bacteria,Firmicutes,NaN,NaN,NaN,NaN,NaN
7672,OTU7673,Bacteria,Firmicutes,Clostridia,Clostridiales,Ruminococcaceae,Ruminococcaceae_UCG-014,NaN
7673,OTU7674,Bacteria,Firmicutes,Clostridia,Clostridiales,Christensenellaceae,Christensenellaceae_R-7_group,NaN

In [11]:
df_otu_names.nunique()

Unnamed: 0    7674
Kingdom          3
Phylum          15
Class           21
Order           42
Family          72
Genus          226
Species        104
dtype: int64

In [62]:
names = df_otu_names.columns.tolist()
name_to_drop = 'Order'

flag=True
cols_to_drop = []
for name in names:
    if name != name_to_drop and flag==True:
        continue
    flag=False
    cols_to_drop.append(name)
    
# inicjalizacja mapy OTU
otu_map = {}
for otu in df_otu_names['Unnamed: 0'].values:
    otu_map[otu] = otu

# inicjalizacja mapy kolumn do OTU
col_map = {}

# usun kolumny ktore nie sa potrzebne
df = df_otu_names.drop(columns=cols_to_drop)


# iterujemy po wierszach i tworzymy wpisy w mapie column do OTU
for row in df.itertuples(name=None, index=False):
    entry = ''
    for name in row[1:]:
        entry = entry + str(name) + ';'
        
    # jesli juz jest taki wpis to w mapie OTU na OTU dodajemy OTU z rowa -> OTU z wpisu z mapy kolumn na OTU
    if entry in col_map:
        otu_map[row[0]] = col_map[entry]
    # jezeli jeszcze nie bylo takiego wpisu to dodajemy do mapy kolumn na OTU
    else:
        col_map[entry] = row[0]

In [63]:
missin_no = 0 
df = df_otu_table.copy()
# usuwamy wszystkie kolumny ktore maja same zera
df = df.loc[:, (df != 0).any(axis=0)]
# iterujemy po mapie OTU
for k,v in otu_map.items():
    # jesli nie ma podrzednego otu w tym df to pomijamy
    if k not in df.columns:
        continue
    # jesli nie ma nadrzednego to tworzymy nowa kolumne z zerami dla niego
    if v not in df.columns:
        df[v] = 0
        missin_no += 1
    # jesli k i v takie same to pomijamy zeby nie dodawac do siebie samego
    if k == v:
        continue
    # jesli sa rozne to mamy poprawne mapowanie i dodajemy wartosci z k do v, po czym usuwamy k z df
    else:
        df[v] = df[v] + df[k]
        df = df.drop(columns=[k])
        
# jeszcze raz usuwany kolumny z samymi zerami jakby sie okazalo ze jakies stworzylismy po drodze
df = df.loc[:, (df != 0).any(axis=0)]

print(f'ilosc brakujacych OTU: {missin_no}')
df

ilosc brakujacych OTU: 7

,Seq_ID,OTU1,OTU2,OTU3,OTU9,OTU16,OTU24,OTU35,OTU43,OTU68,...,OTU1228,OTU1918,OTU2165,OTU5,OTU810,OTU1013,OTU2145,OTU3319,OTU2094,OTU5333
0,1s11,58.727501,0.020929,19.092717,20.107786,0.146505,0.931352,0.272080,0.669736,0.031394,...,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
1,1s12,60.901971,0.192955,15.515872,21.315879,0.192955,0.775604,0.427528,0.541031,0.056752,...,0.000000,0.000000,0.0,0.064318,0.000000,0.0,0.0,0.0,0.0,0.0
2,1s2,17.849348,0.000000,5.805888,43.488383,23.718291,1.159238,0.082456,1.843139,2.012902,...,0.000000,0.000000,0.0,0.000000,0.077606,0.0,0.0,0.0,0.0,0.0
3,1s3,30.728485,0.000000,8.775831,40.740256,15.746796,1.961810,0.019618,0.771645,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
4,1s4,38.563855,0.000000,9.946988,45.349398,1.657831,0.279518,0.067470,0.351807,0.000000,...,0.000000,0.000000,0.0,0.000000,0.033735,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,D9-1,46.657362,0.065683,2.863359,45.163078,0.954453,2.497999,0.989347,0.365361,0.211416,...,0.012316,0.000000,0.0,0.170365,0.000000,0.0,0.0,0.0,0.0,0.0
76,D9-2,35.828049,0.039326,11.935309,36.612102,0.457160,7.870029,5.090203,0.017205,0.729981,...,0.039326,0.014747,0.0,1.290370,0.000000,0.0,0.0,0.0,0.0,0.0
77,D9-3,52.132783,0.000000,1.773736,41.617217,1.466288,1.345889,1.074991,0.191348,0.144049,...,0.060200,0.000000,0.0,0.135449,0.000000,0.0,0.0,0.0,0.0,0.0
78,D9-4,45.776357,0.136064,4.131800,42.862326,1.585142,2.607887,2.102184,0.378711,0.172347,...,0.000000,0.004535,0.0,0.215434,0.000000,0.0,0.0,0.0,0.0,0.0
79,T0-3-2,42.336091,0.017092,3.285021,47.080741,4.932659,1.018664,0.215355,0.085458,0.536679,...,0.017092,0.000000,0.0,0.352089,0.000000,0.0,0.0,0.0,0.0,0.0